  
@import 'base/polices';
@import 'base/colors';

.container {
    height: 500px;
    .header {
        margin-top: 4%;
        &-logo {
            width: 55px;
            height: auto;
            margin: auto;
        }
        &-title {
            color: #D04F4F;
            text-align: center;
        }
    }
    @import 'components/form';
    @import 'components/tag';
    @import 'components/filters';

    .listCard {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 5%;
        &--noCard {
            margin-top: 2em;
            display: none
        }
        @import 'components/card' ;
       
    }
}

@media only screen and (max-width: 799px) and (min-width: 300px) {
    .container {
        .listCard {
            justify-content: center;
        }
    }
}