.filters {
    display: flex;
    margin-top: 3%;
    .filter {
        margin-right: 3%;
        min-width: auto;
        min-height: 69px;
        width: 170px;
        display: flex;
        border-radius: 5px;
        position: relative;
        input {
            background-color: transparent;
            color: white;
            &::placeholder {
                color: white;
                font-weight: 500;
            }
        }
        
        .form-control:focus {
            border: none;
            box-shadow: none;
        }

        &-btn {
            position: absolute;
            right: 15px;
            bottom: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: white;
            }
        }
    }

    .filter-ingredients {
        background-color: #3282F7;
    }
    .filter-appareil {
        background-color: #68D9A4;
    }
    .filter-ustensiles {
        background-color: #ED6454;
    }
}